@model ArchiveViewModel
<label for="select">Select date of posts</label>
<select id="select" placeholder="Select a year...">
    <option value="">Select a year...</option>
    @foreach (var date in Model.Dates)
    {
        if (date.Url == Model.SelectedDate)
        {
            <option value="@date.Url" selected>@date.Name</option>
        }
        else
        {
            <option value="@date.Url">@date.Name</option>
        }
    }
</select>

<div class="mt-3 mb-1">
    <ul class="p-0 pl-4">
        @foreach (var post in Model.Posts)
        {
            <li class="mb-1">
                <label class="text-muted">@post.CreateTime</label>
                <a href="@post.GetFullUrl()">@post.Title</a>
            </li>
        }
    </ul>
</div>