@model CategoryViewModel
<label for="select">Select category of posts</label>
<select id="select" placeholder="Select a category...">
    <option value="">Select a year...</option>
    @foreach (var cat in Model.Categories)
    {
        if (cat.Id == Model.SelecteCategory)
        {
            <option value="@cat.GetUrl()" selected>@cat.Name</option>
        }
        else
        {
            <option value="@cat.GetUrl()">@cat.Name</option>
        }
    }
</select>

<div class="mt-3 mb-1">
    <ul class="p-0 pl-4">
        @foreach (var post in Model.Posts)
        {
            <li class="mb-1">
                <label class="text-muted">@post.CreateTime</label>
                <a href="@post.GetFullUrl()">@post.Title</a>
            </li>
        }
    </ul>
</div>